@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}
/* Personalización */
@layer base {
  body {
    @apply antialiased text-gray-900;
  }
}

/* Efecto de "respiración" para elementos importantes */
@keyframes breathe {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.03); }
}

.animate-breathe {
  animation: breathe 4s ease-in-out infinite;
}

/* Efecto de cursor tracking para cards */
.card-hover-effect {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover-effect:hover {
  transform: translateY(-5px) rotate(1deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}